@page "/"
@using System.Collections
@using TestFromGitToMongo.Services
@using TestFromGitToMongo.Services.httpServicExample
@inject IBikeServiceClient BSC
@*@inject IHttpClientServiceImplementation HttpCS*@
@inject NavigationManager NM
@inject IConfiguration config

<head>
    <link href="TestFromGitToMongo/BikesPage.razor.css" rel="stylesheet" />
</head>

<h3>Bikes</h3>

    @if(BSC.Bikes == null || BSC.Bikes.Count == 0)
{
    @*<span>Loading Bikes/No bikes found/Log in to view bikes</span>*@
    <span>@message</span>   

}
<div class="BikesContainer">
@foreach (var bike in BSC.Bikes)
{

    @*<div class="group" @onclick="() => BikeClicked(bike)">*@
    <div class="bike" @onclick="() => BikeClicked(bike)">


        @*<div class="media-body" >*@
        <div>

            <a href="#">
                <h4 class="mb-0">@bike.Brand</h4>
            </a>
            <p>Model @bike.Model</p>
            <p>Date purchased @bike.DatePurchased.ToString("dd/MM/yyyy")</p>
            <h5 class="price">
                $@bike.Cost
            </h5>
            <h6>Year model = @bike.Year </h6>
            <h6>Warranty = @bike.WarrantyPeriodYears</h6>
            <h6>Notes = @bike.Notes</h6>
            <h6>KM travelled = @bike.KMTravelled</h6>
        </div>

   @*     <img class="media-img img-fluid bikeImg" src="@bike.ImageURL" alt="@bike.Model" width=50%/>*@
        <img class="media-img img-fluid bikeImg" src="@bike.ImageURL" alt="@bike.Model" />
    </div>
}

</div>



@code {
    string message = string.Empty;
    private static List<Bike> Bikes = new List<Bike>();

    protected override async Task OnInitializedAsync()
    {
        message = "Log in to view bikes";
        await BSC.GetBikes();

        //if (BSC.Bikes.Count == 0)
        //{
        //    message = "No bikes found";
        //}

    }

    async Task BikeClicked(Bike bike)
    {
        NM.NavigateTo($"bike/{bike.Id}");
    }
}