@page "/"
@using System.Collections
@using TestFromGitToMongo.Services
@using TestFromGitToMongo.Services.httpServicExample
@inject IBikeServiceClient BSC
@*@inject IHttpClientServiceImplementation HttpCS*@
@inject NavigationManager NM
@inject IConfiguration config
@inject Services.AppData AppData
@inject IConfiguration Configuration

<head>
    <link href="TestFromGitToMongo/BikesPage.razor.css" rel="stylesheet" />
</head>

<h3>Bikes</h3> <p>Version: @Version</p>


    @if(BSC.Bikes == null || BSC.Bikes.Count == 0)
    {
    
        <span>@message</span>   

    }else
    {
        <input class="form-check-input"  type="checkbox" id="chkShowOldBikes" @bind="AppData.ShowOldBikesInBikesPage"/>
           @*<input class="form-check-input"  type="checkbox" id="chkShowOldBikes" @bind-value=@showOldBikes  />*@
        <label for="chkShowOldBikes">Show bikes no longer owned </label>
    }

<div class="BikesContainer">
@foreach (var bike in BSC.Bikes)
{
        @*@if(bike.StillOwned != showOldBikes)*@
        @if(bike.StillOwned != AppData.ShowOldBikesInBikesPage)
        {
            <div class="bike" @onclick="() => BikeClicked(bike)">


                @*<div class="media-body" >*@
                <div>

                    <a href="#">
                        <h4 class="mb-0">@bike.Brand</h4>
                    </a>
                    <p>Model @bike.Model</p>
                    <p>Date purchased @bike.DatePurchased.ToString("dd/MM/yyyy")</p>
                    <h5 class="price">
                        $@bike.Cost
                    </h5>
                    <h6>Year model = @bike.Year </h6>
                    <h6>Warranty = @bike.WarrantyPeriodYears</h6>
                    <h6>Notes = @bike.Notes</h6>
                    <h6>KM travelled = @bike.KMTravelled</h6>
                </div>

           @*     <img class="media-img img-fluid bikeImg" src="@bike.ImageURL" alt="@bike.Model" width=50%/>*@
                <img class="media-img img-fluid bikeImg" src="@bike.ImageURL" alt="@bike.Model" />
            </div>
            
        }
}

</div>



@code {
    string message = string.Empty;
    private static List<Bike> Bikes = new List<Bike>();

    //value to keep track if old bikes should be shown
    //private bool showOldBikes;
    protected override async Task OnInitializedAsync()
    {
        message = "Log in to view bikes";
        await BSC.GetBikes();

        //if (BSC.Bikes.Count == 0)
        //{
        //    message = "No bikes found";
        //}

    }

    async Task BikeClicked(Bike bike)
    {
        NM.NavigateTo($"bike/{bike.Id}");
    }

  string Version;
  protected override void OnInitialized()
  {
      Version = Configuration["AppVersion"] ?? "unknown";
  }

}